<div id="<%= dom_id section %>">
  <p>
    <strong>Crn:</strong>
    <%= section.crn %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= section.course.name %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= section.semester.semester %>
  </p>

</div>
