<div id="<%= dom_id course %>">
  <p>
    <strong>Prefix:</strong>
    <%= course.prefix.prefix %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= course.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

</div>
